@font-face {
    font-family: SharpUnity;
    src: url(SharpUnity-Extrabold.ttf);
}

@font-face {
    font-family: SharpUnitySB;
    src: url(SharpUnity-Semibold.ttf);
}

@font-face {
    font-family: SharpUnityBook;
    src: url(SharpUnity-Book.ttf);
}
.sharpUnity {
    font-family: SharpUnity;
    text-transform: none;
}

.sharpUnitySB {
    font-family: SharpUnitySB;
    text-transform: none;
}

.sharpUnityBook {
    font-family: SharpUnityBook;
    text-transform: none;
}

.black {
    color: black;
}

.darkgrey {
    color: #3C4858;
}

.yellow {
    color: yellow;
}

.grey {
    color: grey !important;
}

.smoke {
    color: beige !important;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right !important;
}

.special {
    background-color: yellow;
}

#fullscreen {
    min-height: 100%;
}

#heart {
    color: red;
/*    animation: heartbeat 1s infinite;*/

}

.no-list-bullet {
    list-style: none !important;
}

.link:hover {
    text-decoration: none !important;
    color: inherit;
}

#coffee {
    color: #6f4e37;
}

.padded {
    padding: 10px 5px!important;
}